{% extends 'index.html' %}
{% block title %}צור קשר{% endblock %}
{% load static %}
{% block content %}



    
      <div class="row">
        <div class="mx-auto" style='width: 1000px;'>
          <h2 class="mb-5 mt-4 text-center">!תודה על פנייתך<br>
            אנו ניצור קשר בהקדם</h2>
  
        <!----  <div class="pb-0 p-4 p-md-5">
              <p align="right">ש המון גרסאות זמינות לפסקאות של Lorem Ipsum. אבל רובם עברו שינויים בצורה זו או אחרת, על ידי השתלת הומור או מילים אקראיות שלא נראות אפילו מעט אמינות. אם אתה הולך להשתמש במקטעים של של Lorem Ipsum אתה צריך להיות בטוח שאין משהו מביך חבוי בתוך הטקסט. כל מחוללי הטקסט של Lorem Ipsum שנמצאים ברשת האינטרנט מכוונים לחזור על טקסטים מוגדרים מראש לפי הנדרש. וזה הופך אותנו למחוללי טקסט אמיתיים ראשונים באינטרנט. אנו משתמשים במילון עם מעל 200 ערכים בלטינית משולבים במבני משפטים על מנת לשוות לטקט מראה הגיוני. ולכן הטקסט של Lorem Ipsum לעולם לא יכיל טקסטים חוזרים, הומור, או מילים לא מאופייניות וכדומה</p>
              <p class="mb-0" align="right">We all carry a lot of baggage, thanks to our upbringing. The majority of people carry with them, an entire series of self-limiting beliefs that will absolutely stop, and hold them back from, success. Things like “I’m not good enough”, “I’m not smart enough”, “I’m not lucky enough”, and the worst, “I’m not worthy” are but a few of the self-limiting beliefs I have encountered. We carry them with us like rocks in a knapsack, and then use them to sabotage our success. So, how twisted is that?!?!</p>
          </div>-->
        </div>
      </div>
  </div>
</section>
<!--=================================
About-->


{% endblock  %}