
{% extends 'index.html' %}
{% block link %}{{ words.about_adv }} {% endblock %}
{% block title %}אודותינו{% endblock %}
{% load static %}
{% block content %}



    
      <div class="row">
        <div class="mx-auto" style='width: 1000px;'>
          <h2 class="mb-5 mt-4 text-center">FIXESAB PIPSEBAL<br>ציוד להשכרה לתעשיית המזון</h2>
          
         <img class="img-fluid mb-3" src="{% static 'images/about/IMG_9909.jpg' %}" alt="">
          <div class="pb-0 p-4 p-md-5">
              <p align="right">"פיקסבל פיפסבל" הינה חברה מובילה להשכרת ציוד בתחום מזון ומשקאות.
                שירות מקצועי בהשכרה, הובלה, ארגון וסידור ציוד לאירועים.
                עיצוב אירועים ברמה הכי גבוה שאפשר.
                </p>

                
              <p class="mb-0" align="right">  
              
                <dl align="right">
                  <dt>עובדים עם המגזר העסקי והפרטי:</dt>
                    
                 
                    <dd >יותר מ 20 שנות ניסיון בענף מזון ומשקאות
                    </dd>
                    <dd>משלוחים והובלות בפריסה ארצית</dd>
                    <dd>איכות השירות ויחס אישי</dd>   
              </dl>
              </p>
              <h6  align="right">זה לא עוד חברה להשכרת ציוד, זו החברה</h6>

              <dl align="right">
                  <dt>אנו מספקים מגוון ציוד להשכרה:</dt>
                    
                 
                    <dd >כלי בישול ואפייה</dd>
                    <dd>כלי הגשה</dd>
                    <dd>ריהוט</dd>   
                    <dd>תאורה </dd>
                    <dd>הגברה</dd>
                    <dd>דקורציה וציוד</dd>
                    <dd>במות</dd>
                    <dd>אוהלים ושמשיות</dd>
                    <dd>ציוד חשמלי</dd>
                    <dd>ועוד..</dd>
              </dl>
              <p class="mb-0" align="right">כל אירוע איתנו - חוויה
                      <br>
                לייעוץ, הכוונה, הזמנות ושאלות חייגי עכשיו: 0587003011
                </p>

          </div>
        </div>
      </div>
  </div>
</section>
<!--=================================
About-->


{% endblock  %}